page-login {
    ion-title{
        text-align: center;
        //background-color: red;
    }
    .img-controll{
        display: block;
        margin: auto;
        width: 20%;
    }
    ion-card-header{
        text-align: center;
    }
}
